<section >
  <div class=' d-flex justify-content-center align-items-center ' style='height: 100vh;background-color: #571d65; '>
    <form action='/admin/login' method="post" class='py-4 w-50 p-4 mb-5' style='background-color:#743983;'>
      <h1 class='text-center text-white'>
        Login
      </h1>
      <div class='my-3'>
        <label for='email' class='form-label fw-bold text-white'>
          Email:
        </label>
        <input
          type='email'
          class='form-control'
          id='email'
          placeholder='Enter email'
          name='email'
        />
      </div>
      <div class='mb-3'>
        <label for='pwd' class='form-label fw-bold text-white'>
          Password:
        </label>
        <input
          type='password'
          class='form-control'
          id='pwd'
          placeholder='Enter password'
          name='password'
        />
      </div>

      <div class='py-5 text-center'>
        <button type='submit' class='btn btn-primary w-50'>
          Log In
        </button>
      </div>
       <div class='d-flex justify-content-center py-3'>
        <a
        href="/admin/signup"
          id='signup-button'
          type='submit'
          class='btn btn-success w-50'
         
        >
          Sign Up
        </a>
      </div>
    </form>
  </div>
</section>