<header>
  <nav class='navbar navbar-expand-lg navbar-dark' style='background-color: #571d65'>
    <div class='container-fluid'>
      <a class='navbar-brand logo' href='/admin/all-products'>
        <img src='/images/logo.png' class='img-fluid' alt='' />
        <img src='/images/CycMaster.png' class='img-fluid' alt='' />
      </a>

      <a class='navbar-brand' href='/admin/'>
        <h1>
          Admin
        </h1>
      </a>

      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav me-auto ms-auto mb-2 mb-lg-0 ms-5 text-center'>
          <li class='nav-item'>
            <a class='nav-link activity ps-5 pe-5' aria-current='page' href='/admin/dashboard'>
              Dashborard
            </a>
          </li>
          <li class='nav-item'>
            <a class='nav-link pe-5 ps-5 activity' href='/admin/all-products'>

              All Products
            </a>
          </li>
          <li class='nav-item'>
            <a class='nav-link pe-5 ps-5 activity' href='/admin/all-users'>

              All Users
            </a>
          </li>
          <li class='nav-item'>
            <a class='nav-link pe-5 ps-5 activity' href='/admin/all-orders'>
              All Orders
            </a>
          </li>
          <li class='nav-item'>
            <a class='nav-link pe-5 ps-5 activity' href='/admin/coupen'>
              Coupens
            </a>
          </li>
          <li class='nav-item'>
            <a class='nav-link pe-5 ps-5 activity' href='/admin/logout'>
              Logout
            </a>
          </li>
        </ul>

      </div>

      <div>
        <ul class='dropdown-menu  dropdown-menu-end' aria-labelledby='dropdownMenuLink'>
          <li>
            <a class='dropdown-item fw-bold' href='/admin/all-users'>
              All Users
            </a>
          </li>
          <li>
            <a class='dropdown-item fw-bold' href='/admin/all-orders'>
              All Orders
            </a>
          </li>
          <li>
            <a class='dropdown-item fw-bold' href='#login-modal' data-bs-toggle='modal' data-bs-target='#login-modal'>
              Logout
            </a>
          </li>
        </ul>
      </div>
      <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>
    </div>
  </nav>
</header>