<header>
  <nav
    class='navbar navbar-expand-lg navbar-dark'
    style='background-color: #571d65'
  >
    <div class='container-fluid'>
      <a class='navbar-brand logo' href='/'>
        <img src='/images/logo.png' class='img-fluid' alt='' />
        <img src='/images/CycMaster.png' class='img-fluid' alt='' />
      </a>

      <a class='navbar-brand' href='/'>
        <h1>
          Admin
        </h1>
      </a>

      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav me-auto ms-auto mb-2 mb-lg-0 ms-5 text-center'>
          <li class='nav-item'>
            <a class='nav-link active ps-5 pe-5' aria-current='page' href='#'>
              Home
            </a>
          </li>
          <li class='nav-item'>
            <a class='nav-link pe-5 ps-5' href='#'>
              Mountian
            </a>
          </li>
          <li class='nav-item'>
            <a class='nav-link pe-5 ps-5' href='#'>
              Hybrid
            </a>
          </li>
          <li class='nav-item'>
            <a class='nav-link pe-5 ps-5' href='#'>
              Road
            </a>
          </li>
          <li class='nav-item'>
            <a class='nav-link pe-5 ps-5' href='#'>
              Gravel
            </a>
          </li>
        </ul>
        <form class='d-flex ms-auto mx-3'>
          <input
            class='form-control me-2'
            type='search'
            placeholder='Search'
            aria-label='Search'
          />
        </form>
      </div>
      <div class='mx-3'>
        <i class='bi bi-cart3 px-3 text-white  display-6'></i>
      </div>

      <div class='dropdown mx-3'>
        <a
          class='btn dropdown-toggle'
          role='button'
          id='dropdownMenuLink'
          data-bs-toggle='dropdown'
          aria-expanded='false'
        >
          <img src='/images/ic_sharp-account-circle.png' alt='' />
        </a>

        <ul
          class='dropdown-menu  dropdown-menu-end'
          aria-labelledby='dropdownMenuLink'
        >
          <li>
            <a class='dropdown-item fw-bold' href='#'>
              Profile
            </a>
          </li>
          <li>
            <a class='dropdown-item fw-bold' href='#'>
              All Orders
            </a>
          </li>
          <li>
            <a
              class='dropdown-item fw-bold'
              href='#login-modal'
              data-bs-toggle='modal'
              data-bs-target='#login-modal'
            >
              Logout
            </a>
          </li>
        </ul>
      </div>
      <button
        class='navbar-toggler'
        type='button'
        data-bs-toggle='collapse'
        data-bs-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent'
        aria-expanded='false'
        aria-label='Toggle navigation'
      >
        <span class='navbar-toggler-icon'></span>
      </button>
    </div>
  </nav>
</header>