<section>
    <div class="container">
        <div class="row my-3 shadow-sm border border-3 border-secondary p-5">
            <h4>My Cart </h4>
            <div class="col text-center">
                <img src="/images/delete.png" alt="" style="width: 7rem;">
                <h6 class="my-3">Your cart is empty</h6>
                <small > Add items to it now.</small><br>
                <a href="/" class="btn btn-primary  text-white px-5 my-3">Shop now</a>
            </div>
        </div>
    </div>
</section>
