<section>
    <div class="container">
        <div class="row my-3 shadow-sm border border-3 border-secondary p-5">
            <h4>My Cart </h4>
            <div class="col text-center">
                <img src="/images/delete.png" alt="" style="width: 7rem;">
                <h6 class="my-3">Missing Cart items ?</h6>
                <small > login to see the items you added previously</small><br>
                <a href="/login" class="btn text-white px-5 my-3" style="background-color:#fb641b ;">Login</a>
            </div>
        </div>
    </div>
</section>
