<section>
  <div class='text-center title'>
    <span>
      CHOOSE UR PERFECT ONE
    </span>
  </div>
</section>

<section class='products'>
  <div class='container-fluid'>
    <div class='row gy-4'>
      <div class='col-12 col-md-6'>
        <div class='card'>
          <img src='/images/home/home mtb.jpg' class='card-img image-fluid' />
          <div class='card-img-overlay button'>
            <a href='mountain-bike' class='btn  fw-bold  btn-lg '>
            MOUNTAIN BIKE
            </a>
          </div>
        </div>
      </div>
      <div class='col-12 col-md-6'>
        <div class='card'>
          <img src='/images/home/home hybrid.jpg' class='card-img-top' />
          <div class='card-img-overlay button'>
            <a href='/hybrid-bike' class='btn  fw-bold btn-lg'>
              HYBRID BIKE
            </a>
          </div>
        </div>
      </div>
      <div class='col-12 col-md-6'>
        <div class='card'>
          <img src='/images/home/home road.jpg' class='card-img-top' />
          <div class='card-img-overlay button'>
            <a href='/' class='btn  fw-bold btn-lg '>
              ROAD BKIE
            </a>
          </div>
        </div>
      </div>
      <div class='col-12 col-md-6'>
        <div class='card'>
          <img src='/images/home/home gravel.jpg' class='card-img-top' />
          <div class='card-img-overlay button'>
            <a href='/' class='btn  fw-bold btn-lg'>
            GRAVEL BIKE
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>