<section>
  <div class='text-center title'>
    <span>
      CHOOSE UR PERFECT ONE
    </span>
  </div>
</section>

<section class='products'>
  <div class='container-fluid'>
    <div class='row gy-4'>
      {{#each home}}
      <div class='col-12 col-md-6'>
        <div class='card'>
          <img src='{{this.image}}' class='card-img image-fluid' />
          <div class='card-img-overlay  d-flex justify-content-center align-items-center button'>
            <a href={{this.link}} class='btn btn-outline-light fw-bold my-btn btn-lg '>
            {{this.button}}
            </a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>