<section>
    <div class="container-fluid ">
        <div class="row m-3">
            <div class="col-12 col-md-8 d-flex align-items-center">
                <img src="/images/trek/gravel.jpg" class="img-fluid ">

            </div>
            <div class="col-12 col-md-4 ">
                <div class="cart mt-5">
                    <h4 class="py-2">TREK</h4>
                    <h1 class="py-2">MEDONE SLR 9</h1>
                    <h6 class="py-2">2022 <a href="" class="px-2 text-decoration-none ">123 Reviews/Write a review </a>
                    </h6>

                    <h4 class="py-3 fs-4">₹ 32100</h4>

                    <p class="border-top border-2 py-2 fs-6 ">The Slash 8 is an enduro mountain bike that rolls on fast 29er
                        wheels and
                        floats on plush RockShox suspension with SRAM's newest GX Eagle handling
                        drivetrain duties. An aluminium frame with fresh new tech and tough alloy
                        wheels push this bike into the sweet spot for all-around rippers.</p>

                    <h6 class="py-2">Model <span> 32146</span></h6>
                    <div class="">
                        <h6 class="pt-2" id="colorName">COLOR/ <small>Royalblue</small> </h6>
                        <div class="color-box" id="color-box"></div>
                        <a href='/cart' type='' class='btn proceed-btn my-5 px-5'>
                            Add to cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top border-2">
            <h1>Specification</h1>
        </div>
    </div>
</section>